<div class="header_btm">
<div class="wrap">
	<div class="header_sub">
        <div class="h_menu">
			<ul>
				<li class="active"><a href="index.html#/home">home</a></li>
                <li><a href="index.html#/sales">sales</a></li>
				<li><a href="index.html#/men">men</a></li>
                <li><a href="index.html#/women">women</a></li>
				<li><a href="index.html#/contact">contact</a></li>
			</ul>
		</div>
        <div class="top-nav">
            <nav class="nav">
                <a href="#" id="w3-menu-trigger"> </a>
                <ul class="nav-list" style="">
                    <li class="nav-item"><a class="active" href="index.html#/home">home</a></li>
					<li class="nav-item"><a href="index.html#/sales">sales</a></li>
					<li class="nav-item"><a href="index.html#/men">men</a></li>
					<li class="nav-item"><a href="index.html#/women">women</a></li>
					<li class="nav-item"><a href="index.html#/contact">Contact</a></li>
                </ul>
            </nav>
<!-- #TODO: Removing searh box for now
            <div class="search_box">
                <form>
                    <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}"><input type="submit" value="">
                </form>
            </div>
-->
            <div class="clear"> </div>
            <script src="js/responsive.menu.js"></script>
        </div>
        <div class="clear"></div>
    </div>
</div>
</div>

<!-- start slider -->
<!-- #TODO: Temporary disable slider
<div id="da-slider" class="da-slider">
    <div class="da-slide">
        <h2>welcome to aditii</h2>
        <p>When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.</p>
        <a href="details.html" class="da-link">shop now</a>
        <div class="da-img"><img src="images/slider1.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Easy management</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        <a href="details.html" class="da-link">shop now</a>
        <div class="da-img"><img src="images/slider2.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Revolution</h2>
        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
        <a href="details.html" class="da-link">shop now</a>
        <div class="da-img"><img src="images/slider3.png" alt="image01" /></div>
    </div>
    <div class="da-slide">
        <h2>Quality Control</h2>
        <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
        <a href="details.html" class="da-link">shop now</a>
        <div class="da-img"><img src="images/slider4.png" alt="image01" /></div>
    </div>
    <nav class="da-arrows">
        <span class="da-arrows-prev"></span>
        <span class="da-arrows-next"></span>
    </nav>
</div>
-->

<!--- start-cursual --->
<!-- #TODO: Temporary disable cursual
<div class="wrap">
	<div id="owl-demo" class="owl-carousel">
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c1.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded shoes</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c2.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded tees</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c3.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded jeens</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c2.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded tees</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c1.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded shoes</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c2.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded tees</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
		<div class="item" onclick="location.href='details.html';">
			<div class="cau_left">
				<img class="lazyOwl" data-src="images/c3.jpg" alt="Lazy Owl Image">
			</div>
			<div class="cau_left">
				<h4><a href="details.html">branded jeens</a></h4>
				<a href="details.html" class="btn">shop</a>
			</div>
		</div>
	</div>
</div>
-->

<!-- start main1 -->
<div class="main_bg1">
<div class="wrap">
	<div class="main1">
		<h2>featured products</h2>
	</div>
</div>
</div>
<!-- start main -->
<div class="main_bg">
<div class="wrap">
    <div class="main">
        <!-- start grids_of_3 -->
		<div class="grids_of_3">
            <div class="grid1_of_3">
                <a href="details.html">
                    <img src="images/cloth_small/11/DSC_0089.jpg" alt=""/>
					<h3>tommy hilfiger denim</h3>
					<div class="price">
						<h4>RM49<span>buy</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="details.html">
					<img src="images/cloth_small/18/DSC_0188.jpg" alt=""/>
					<h3>aeropostle graphics tees</h3>
					<div class="price">
						<h4>RM49<span>buy</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="grid1_of_3">
				<a href="details.html">
					<img src="images/cloth_small/49/DSC_0161.jpg" alt=""/>
					<h3>hugo boss graphics tees</h3>
					<div class="price">
						<h4>RM49<span>buy</span></h4>
					</div>
					<span class="b_btm"></span>
				</a>
			</div>
			<div class="clear"></div>
		</div>
        <div class="clear"></div>
    </div>
    <!-- end grids_of_3 -->
</div>
</div>
